<div class="container">

    <div class="title">
        <mat-icon>article</mat-icon>
        <h2>Articles</h2>
    </div>
    <mat-divider></mat-divider>

    <button mat-fab aria-label="Example icon button with a delete icon" (click)="addUser()" class="add-icon">
        <mat-icon>add_box</mat-icon>
    </button>
    <mat-form-field>
        <mat-label>Filtre</mat-label>
        <input class="filter-input" matInput (keyup)="applyFilter($event)" placeholder="Ex. utilisateur1" #input>
        <span class="suffix" matSuffix>     
            <mat-icon class="search-icon">search</mat-icon>
        </span>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    
        <ng-container matColumnDef="reference">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Reference </th>
            <td mat-cell *matCellDef="let element"> {{element.reference}} </td>
        </ng-container>

        <ng-container matColumnDef="designation">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Designation </th>
            <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
        </ng-container>

        <ng-container matColumnDef="family">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Famille </th>
            <td mat-cell *matCellDef="let element"> {{element.family}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <ng-container matColumnDef="longueur">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Longueur </th>
            <td mat-cell *matCellDef="let element"> {{element.longueur}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <div class="icons-group">
                    <button mat-fab aria-label="Example icon button with a delete icon" (click)="onEdit(element)" class="edit-icon">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-fab aria-label="Example icon button with a delete icon" (click)="onDelete(element)"
                        class="delete-icon">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">"{{input.value}}" n'existe pas</td>
        </tr>
    </table>
    
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements"
                 class="paginator">
  </mat-paginator>
    <!-- <router-outlet></router-outlet> -->
</div>