<div class="container" [formGroup]="addUserForm">
    <!-- {{addUserForm.value | json}} -->
    <div class="title">
        <mat-icon>add_to_photos</mat-icon>
        <h2>Add Articles</h2>
    </div>
    <mat-divider></mat-divider>
   
    <button mat-fab aria-label="Example icon button with a delete icon" class="back-icon" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>

    <div class="user-info">
        <div class="left-div">
            <mat-form-field appearance="outline">
                <mat-label>reference</mat-label>
                <input matInput formControlName="reference" type="text">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>designation</mat-label>
                <input matInput formControlName="designation" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>family</mat-label>
                <mat-select formControlName="family">
                    <mat-option value="0">ACCESSORY</mat-option>
                    <mat-option value="1">BARRE</mat-option>
                    <mat-option value="2">JOINT</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="right-div">
            <mat-form-field appearance="outline">
                <mat-label>type</mat-label>
                <mat-select formControlName="type">
                    <mat-option value="ml" *ngIf="addUserForm.get('family')?.value != 0">ML</mat-option>
                    <mat-option value="unit" *ngIf="addUserForm.get('family')?.value == 0">Unite</mat-option>
                    <mat-option value="unit" *ngIf="addUserForm.get('family')?.value == 0">Pair</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" *ngIf="addUserForm.get('family')?.value == 1">
                <mat-label>Longueur</mat-label>
                <input matInput formControlName="longueur" type="number">
            </mat-form-field>
          
            <mat-form-field appearance="outline">
                <mat-label>prixUnitaireHT</mat-label>
                <input matInput formControlName="prixUnitaireHT" type="number">
            </mat-form-field>


        </div>

    </div>
    <div class="actions">
        <button class="button" mat-raised-button (click)="confirm()" [disabled]="addUserForm.invalid">
            Ajouter
            <mat-icon iconPositionEnd>done</mat-icon>
        </button>
    </div>
</div>