<div class="container" [formGroup]="bcForm">
    <!-- {{pcForm.value | json}} -->
    <div class="title">
        <mat-icon>swap_horiz</mat-icon>
        <h2>Créer un bon de commande</h2>
    </div>
    <mat-divider></mat-divider>

    <div class="info-ordonnateur">
        <div class="left-div">
            <mat-form-field appearance="outline">
                <mat-label>Reference</mat-label>
                <input matInput formControlName="reference" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Fournisseur</mat-label>
                <input matInput formControlName="supplierReference" type="text">
            </mat-form-field>


    <div class="table-container">
        <button mat-raised-button color="accent" (click)="openAddArticleDialog()">Ajouter un article</button>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id"><th mat-header-cell *matHeaderCellDef>ID</th><td mat-cell *matCellDef="let row">{{ row.id }}</td></ng-container>
        <ng-container matColumnDef="reference"><th mat-header-cell *matHeaderCellDef>Réf</th><td mat-cell *matCellDef="let row">{{ row.reference }}</td></ng-container>
        <ng-container matColumnDef="designation"><th mat-header-cell *matHeaderCellDef>Désignation</th><td mat-cell *matCellDef="let row">{{ row.designation }}</td></ng-container>
        <ng-container matColumnDef="family"><th mat-header-cell *matHeaderCellDef>Famille</th><td mat-cell *matCellDef="let row">{{ row.family }}</td></ng-container>
        <ng-container matColumnDef="type"><th mat-header-cell *matHeaderCellDef>Type</th><td mat-cell *matCellDef="let row">{{ row.type }}</td></ng-container>
        <ng-container matColumnDef="prixUnitaireHT"><th mat-header-cell *matHeaderCellDef>PU HT</th><td mat-cell *matCellDef="let row">{{ row.prixUnitaireHT }}</td></ng-container>
        <ng-container matColumnDef="color"><th mat-header-cell *matHeaderCellDef>Couleur</th><td mat-cell *matCellDef="let row">{{ row.color }}</td></ng-container>
        <ng-container matColumnDef="quantity"><th mat-header-cell *matHeaderCellDef>Quantité</th><td mat-cell *matCellDef="let row">{{ row.quantity }}</td></ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements"
                 class="paginator">
  </mat-paginator>

</div>
</div>




    <div class="actions">
        <button class="button" mat-raised-button (click)="confirm()" [disabled]="bcForm.invalid">
            Confirmer
            <mat-icon iconPositionEnd>done</mat-icon>
        </button>
    </div>
</div>
