<mat-toolbar>
    <button mat-icon-button (click)="myDrawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <img src="logo-white2.png" class="logo">
    <span style="flex: auto;"></span>

    <!-- <button class="toolbar-button" mat-flat-button [matMenuTriggerFor]="profileMenu">
      Profile
      <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
    </button>

    <mat-divider [vertical]="true"></mat-divider>

    <button class="toolbar-button-username" mat-flat-button disabled>
      
      <mat-icon class="profile-icon">person</mat-icon>
    </button>

    <mat-menu class="menu" #profileMenu>
      <button mat-menu-item class="menu-item" routerLink="/user/profile">
        <mat-icon class="profile-icon">account_circle</mat-icon>
        Profile
      </button>
      
      <button mat-menu-item class="menu-item" >
        <mat-icon class="profile-icon">exit_to_app</mat-icon>
        Lougout
      </button>
    </mat-menu> -->
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #myDrawer opened="true" mode="side" position="start" class="drawer">
    <mat-nav-list class="nav-list">
          <a mat-list-item routerLink="/user/view-articles" routerLinkActive="active-link" class="item">
            <div class="list-item">
                <mat-icon>dashboard</mat-icon>
                <span>Articles</span>
            </div>
          </a>
          <a mat-list-item routerLink="/user/view-bcs" routerLinkActive="active-link" class="item">
            <div class="list-item">
                <mat-icon>swap_horiz</mat-icon>
                <span>BCs</span>
            </div>
          </a>
          <a mat-list-item routerLink="/user/paiement-banque" routerLinkActive="active-link" class="item">
            <div class="list-item">
                <mat-icon>account_balance</mat-icon>
                <span>Paiement Banque</span>
            </div>
          </a>
          <a mat-list-item routerLink="/user/consultation" routerLinkActive="active-link" class="item">
            <div class="list-item">
                <mat-icon>search</mat-icon>
                <!-- <span>Consultation de ordres de paiment</span> -->
                <span>Consultation</span>
            </div>
          </a>
          <a mat-list-item routerLink="/user/validation" routerLinkActive="active-link" class="item">
            <div class="list-item">
                <mat-icon>check</mat-icon>
                <!-- <span>Consultation de ordres de paiment</span> -->
                <span>Validation</span>
            </div>
          </a>
        </mat-nav-list>
      </mat-drawer>
    <mat-drawer-content>
        <div style="min-height: 600px;">
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>